In [19]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd

In [51]:
# Source: http://web.mta.info/developers/fare.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/fares/fares_{}.csv"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url, index_col=0, names=['REMOTE','STATION','FF', 'SEN/DIS', '7-D AFAS UNL','30-D AFAS/RMF UNL','JOINT RR TKT','7-D UNL','30-D UNL','7D-XBUS PASS','TCMC','RF 2 TRIP','RR UNL NO TRADE','TCMC ANNUAL MC','MR EZPAY EXP','MR EZPAY UNL', 'PATH 2-T','AIRTRAIN FF','AIRTRAIN 30-D','AIRTRAIN 10-T','AIRTRAIN MTHLY','STUDENTS','NICE 2-T','CUNY-120','CUNY-60','FF VALUE','FF 7-DAY','FF 30-DAY','R001','WHITEHALL STREET']))
    return pd.concat(dfs)

In [67]:
#every saturday week num starts
#year , month, day

#june 2020
week_nums = [200627, 200620, 200613]
june_fares = get_data(week_nums)

#dropping rows
june_fares = june_fares.drop(june_fares.index[[0,2]])

#drop last column
june_df_fares = june_fares.drop('WHITEHALL STREET', axis=1) 
june_df_fares

,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,7D-XBUS PASS,TCMC,...,AIRTRAIN 10-T,AIRTRAIN MTHLY,STUDENTS,NICE 2-T,CUNY-120,CUNY-60,FF VALUE,FF 7-DAY,FF 30-DAY,R001
REMOTE,,,,,,,,,,,,,,,,,,,,,
R001,WHITEHALL STREET,00010945,00000745,00000092,00000110,00000008,00002374,00001715,00000039,00000045,...,00000000,00000000,00000332,00000000,00000012,00000000,00000442,00000110,00000088,...
R003,CYPRESS HILLS,00001663,00000061,00000000,00000011,00000000,00000438,00000203,00000000,00000005,...,00000000,00000000,00000158,00000000,00000007,00000000,00000084,00000018,00000031,...
R004,75TH STREET & ELDERTS LANE,00003433,00000156,00000011,00000017,00000000,00001054,00000498,00000008,00000010,...,00000000,00000000,00000236,00000000,00000026,00000000,00000149,00000036,00000022,...
R005,85TH STREET & FOREST PKWAY,00003647,00000177,00000014,00000023,00000000,00001008,00000521,00000000,00000010,...,00000000,00000000,00000207,00000000,00000032,00000000,00000125,00000026,00000037,...
R006,WOODHAVEN BOULEVARD,00004294,00000210,00000019,00000016,00000005,00001223,00000584,00000001,00000013,...,00000000,00000000,00000295,00000000,00000030,00000000,00000173,00000040,00000012,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R571,86TH STREET - 2 AVENUE,00008660,00000498,00000029,00000087,00000005,00001619,00001841,00000015,00000056,...,00000000,00000000,00000215,00000000,00000018,00000000,00000153,00000043,00000085,...
R572,96TH STREET - 2 AVENUE,00008761,00000770,00000062,00000076,00000001,00001894,00001893,00000014,00000049,...,00000000,00000000,00000289,00000000,00000041,00000000,00000317,00000079,00000075,...
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000015,00000000,00000000,00000000,00000000,...
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000004,00000000,00000000,00000000,00000000,...
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000002,00000000,00000000,00000000,00000000,...

In [62]:
#march 2020
week_nums = [200328, 200321, 200314]
march_fares = get_data(week_nums)

#dropping rows
march_fares = march_fares.drop(march_fares.index[[0,2]])
march_fares

#drop last column
march_df_fares = march_fares.drop('WHITEHALL STREET', axis=1) 
march_df_fares

,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,7D-XBUS PASS,TCMC,...,AIRTRAIN 10-T,AIRTRAIN MTHLY,STUDENTS,NICE 2-T,CUNY-120,CUNY-60,FF VALUE,FF 7-DAY,FF 30-DAY,R001
REMOTE,,,,,,,,,,,,,,,,,,,,,
R001,WHITEHALL STREET,00012463,00000849,00000246,00000643,00000015,00010415,00009268,00000113,00000109,...,00000000,00000000,00000304,00000000,00000141,00000000,00000251,00000278,00000249,...
R003,CYPRESS HILLS,00001623,00000112,00000004,00000028,00000000,00001540,00000727,00000002,00000005,...,00000000,00000000,00000148,00000000,00000022,00000000,00000053,00000069,00000043,...
R004,75TH STREET & ELDERTS LANE,00004313,00000232,00000018,00000088,00000001,00003303,00001893,00000001,00000008,...,00000000,00000000,00000443,00000000,00000053,00000000,00000130,00000110,00000095,...
R005,85TH STREET & FOREST PKWAY,00004746,00000269,00000066,00000123,00000000,00003467,00002277,00000000,00000005,...,00000000,00000000,00000311,00000000,00000072,00000000,00000128,00000073,00000104,...
R006,WOODHAVEN BOULEVARD,00004188,00000299,00000065,00000108,00000002,00004769,00002636,00000009,00000020,...,00000000,00000000,00000430,00000000,00000077,00000000,00000098,00000094,00000070,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R571,86TH STREET - 2 AVENUE,00053625,00005919,00000308,00000911,00000047,00018268,00050260,00000103,00001052,...,00000000,00000000,00003553,00000000,00000106,00000000,00000300,00000214,00000298,...
R572,96TH STREET - 2 AVENUE,00033805,00003658,00000308,00001254,00000025,00016169,00034547,00000095,00000392,...,00000000,00000000,00005714,00000000,00000201,00000000,00000581,00000511,00000625,...
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000661,00000000,00000000,00000000,00000000,...
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000446,00000000,00000000,00000000,00000000,...
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000578,00000000,00000000,00000000,00000000,...

In [63]:
#december 2019
week_nums = [191207, 191214, 191221]
december_fares = get_data(week_nums)

#dropping rows
december_fares = december_fares.drop(december_fares.index[[0,2]])
december_fares

#drop last column
december_df_fares = december_fares.drop('WHITEHALL STREET', axis=1) 
december_df_fares

,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,7D-XBUS PASS,TCMC,...,AIRTRAIN 10-T,AIRTRAIN MTHLY,STUDENTS,NICE 2-T,CUNY-120,CUNY-60,FF VALUE,FF 7-DAY,FF 30-DAY,R001
REMOTE,,,,,,,,,,,,,,,,,,,,,
R001,WHITEHALL STREET,00057638,00002491,00000411,00000999,00000090,00029362,00023967,00000295,00000543,...,00000000,00000000,00002660,00000000,00000653,00000000,00000314,00000288,00000303,...
R003,CYPRESS HILLS,00002824,00000169,00000007,00000037,00000000,00002197,00001110,00000000,00000002,...,00000000,00000000,00000586,00000000,00000076,00000000,00000053,00000063,00000048,...
R004,75TH STREET & ELDERTS LANE,00006869,00000472,00000043,00000161,00000001,00004540,00003227,00000001,00000015,...,00000000,00000000,00002867,00000000,00000131,00000000,00000111,00000131,00000090,...
R005,85TH STREET & FOREST PKWAY,00007471,00000605,00000079,00000212,00000000,00004727,00003692,00000005,00000024,...,00000000,00000000,00001418,00000000,00000176,00000000,00000132,00000080,00000120,...
R006,WOODHAVEN BOULEVARD,00007435,00000555,00000082,00000213,00000004,00006859,00004515,00000006,00000041,...,00000000,00000000,00002169,00000000,00000226,00000000,00000134,00000128,00000091,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R571,86TH STREET - 2 AVENUE,00068707,00007458,00000367,00000928,00000059,00025514,00048965,00000096,00001167,...,00000000,00000000,00003571,00000000,00000141,00000000,00000218,00000158,00000182,...
R572,96TH STREET - 2 AVENUE,00041720,00004122,00000341,00001489,00000029,00021519,00033828,00000072,00000535,...,00000000,00000000,00005850,00000000,00000249,00000000,00000395,00000463,00000398,...
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00001034,00000000,00000000,00000000,00000000,...
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000626,00000000,00000000,00000000,00000000,...
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000635,00000000,00000000,00000000,00000000,...

In [69]:
december_df_fares.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, R001 to R575
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   STATION            1453 non-null   object
 1   FF                 1453 non-null   object
 2   SEN/DIS            1453 non-null   object
 3   7-D AFAS UNL       1453 non-null   object
 4   30-D AFAS/RMF UNL  1453 non-null   object
 5   JOINT RR TKT       1453 non-null   object
 6   7-D UNL            1453 non-null   object
 7   30-D UNL           1453 non-null   object
 8   7D-XBUS PASS       1453 non-null   object
 9   TCMC               1453 non-null   object
 10  RF 2 TRIP          1453 non-null   object
 11  RR UNL NO TRADE    1453 non-null   object
 12  TCMC ANNUAL MC     1453 non-null   object
 13  MR EZPAY EXP       1453 non-null   object
 14  MR EZPAY UNL       1453 non-null   object
 15  PATH 2-T           1453 non-null   object
 16  AIRTRAIN FF        1453 non-null   object
 17  AIRTRAIN 30-D      1453 non-null   object
 18  AIRTRAIN 10-T      1453 non-null   object
 19  AIRTRAIN MTHLY     1453 non-null   object
 20  STUDENTS           1453 non-null   object
 21  NICE 2-T           1453 non-null   object
 22  CUNY-120           1453 non-null   object
 23  CUNY-60            1453 non-null   object
 24  FF VALUE           1453 non-null   object
 25  FF 7-DAY           1453 non-null   object
 26  FF 30-DAY          1453 non-null   object
 27  R001               1453 non-null   object
dtypes: object(28)
memory usage: 329.2+ KB

In [70]:
december_df_fares.isna().sum()

STATION              0
FF                   0
SEN/DIS              0
7-D AFAS UNL         0
30-D AFAS/RMF UNL    0
JOINT RR TKT         0
7-D UNL              0
30-D UNL             0
7D-XBUS PASS         0
TCMC                 0
RF 2 TRIP            0
RR UNL NO TRADE      0
TCMC ANNUAL MC       0
MR EZPAY EXP         0
MR EZPAY UNL         0
PATH 2-T             0
AIRTRAIN FF          0
AIRTRAIN 30-D        0
AIRTRAIN 10-T        0
AIRTRAIN MTHLY       0
STUDENTS             0
NICE 2-T             0
CUNY-120             0
CUNY-60              0
FF VALUE             0
FF 7-DAY             0
FF 30-DAY            0
R001                 0
dtype: int64

In [71]:
march_df_fares.isna().sum()

STATION              0
FF                   0
SEN/DIS              0
7-D AFAS UNL         0
30-D AFAS/RMF UNL    0
JOINT RR TKT         0
7-D UNL              0
30-D UNL             0
7D-XBUS PASS         0
TCMC                 0
RF 2 TRIP            0
RR UNL NO TRADE      0
TCMC ANNUAL MC       0
MR EZPAY EXP         0
MR EZPAY UNL         0
PATH 2-T             0
AIRTRAIN FF          0
AIRTRAIN 30-D        0
AIRTRAIN 10-T        0
AIRTRAIN MTHLY       0
STUDENTS             0
NICE 2-T             0
CUNY-120             0
CUNY-60              0
FF VALUE             0
FF 7-DAY             0
FF 30-DAY            0
R001                 0
dtype: int64

In [72]:
june_df_fares.isna().sum()

STATION              0
FF                   0
SEN/DIS              0
7-D AFAS UNL         0
30-D AFAS/RMF UNL    0
JOINT RR TKT         0
7-D UNL              0
30-D UNL             0
7D-XBUS PASS         0
TCMC                 0
RF 2 TRIP            0
RR UNL NO TRADE      0
TCMC ANNUAL MC       0
MR EZPAY EXP         0
MR EZPAY UNL         0
PATH 2-T             0
AIRTRAIN FF          0
AIRTRAIN 30-D        0
AIRTRAIN 10-T        0
AIRTRAIN MTHLY       0
STUDENTS             0
NICE 2-T             0
CUNY-120             0
CUNY-60              0
FF VALUE             0
FF 7-DAY             0
FF 30-DAY            0
R001                 0
dtype: int64