### NYC MTA

We'll be looking at how to cut budget costs for the police department in this program. Market research studies can be used to supplement data findings.

First 3 months of 2020

In [38]:
import pandas as pd

## Getting Data

In [39]:
# Source: http://web.mta.info/developers/turnstile.html

def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)

In [40]:
#every saturday week num starts
#year , month, day


week_nums = [200627, 200620, 200613]
june_turnstiles = get_data(week_nums)

week_nums = [200328, 200321, 200314]
march_turnstiles = get_data(week_nums)

week_nums = [191207, 191214, 191221]
december_turnstiles = get_data(week_nums)

Getting into .csvs

In [1]:
# december_file = open('december_turnstiles.csv', 'w')
# december_file.write(december_turnstiles)

### General Pre Transformation Infos

In [41]:
december_turnstiles.shape

(618716, 11)

In [42]:
december_turnstiles.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,03:00:00,REGULAR,7290785,2470635
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,07:00:00,REGULAR,7290795,2470652
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,11:00:00,REGULAR,7290860,2470733
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,15:00:00,REGULAR,7291051,2470808
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,19:00:00,REGULAR,7291396,2470862

## Cleaning Up

In [57]:
december_turnstiles['Timestamp'] = pd.to_datetime(december_turnstiles['DATE'] + ' ' + december_turnstiles['TIME'])
december_turnstiles.columns = december_turnstiles.columns.str.rstrip()

##

In [14]:
by_hour = december_turnstiles.groupby('TIME')

In [60]:
exits_per_time = by_hour['EXITS'].sum()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,03:00:00,REGULAR,7290785,2470635
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,07:00:00,REGULAR,7290795,2470652
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,11:00:00,REGULAR,7290860,2470733
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,15:00:00,REGULAR,7291051,2470808
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,19:00:00,REGULAR,7291396,2470862
...,...,...,...,...,...,...,...,...,...,...,...
207600,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,04:00:00,REGULAR,5554,420
207601,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,08:00:00,REGULAR,5554,420
207602,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,12:00:00,REGULAR,5554,420
207603,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,16:00:00,REGULAR,5554,420
207604,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,20:00:00,REGULAR,5554,420

In [56]:
december_turnstiles.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [55]:
of_each = december_turnstiles.groupby('EXITS')
of_each.sum()

                 ENTRIES
EXITS
0           293985752449
1               23555131
2               39452835
3            14925152054
4               45877207
...                  ...
2123570077    1844103909
2123570560    1844104203
2123570909    1844104503
2123571061    1844104604
2123571178    1844104617

[492865 rows x 1 columns]

compare top with MTA's top
find outliers & way to address them
grouping by stations issues

time series chunk into hours 
rush hour time frames

what stations are used at what time