# Notebook 2

## This notebook includes more recent work after performing some preliminary scratchwork (in 'MTA-brian') and performing Challenge 1.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd
import datetime

In [2]:
# Import local CSV files and change name of EXITS column

df_dec19 = pd.read_csv('december_turnstiles.csv')
df_dec19 = df_dec19.rename(columns={'EXITS                                                               ':'EXITS'})
df_mar20 = pd.read_csv('march_turnstiles.csv')
df_mar20 = df_mar20.rename(columns={'EXITS                                                               ':'EXITS'})
df_june20 = pd.read_csv('june_turnstiles.csv')
df_june20 = df_june20.rename(columns={'EXITS                                                               ':'EXITS'})

In [3]:
# Functions to organize data by foot traffic, turnstiles, and traffic (credit: Lauren Fields)
"""
This is the original function

def combinedTraffic(dataframe):
    dataframe["FOOTTRAFFIC"] = dataframe["ENTRIES"] + dataframe["EXITS"]
    
def turnstileColumn(dataframe):
    '''
    Takes an MTA dataframe & creates a new column
    Where there's an index number for each Turn Stile in frame.
    '''
    eachTS = dataframe.groupby(["C/A", "UNIT", "SCP", "STATION"])[['FOOTTRAFFIC']].sum()
    howMany = eachTS.shape[0]
    eachTS['TURNSTILE'] = range(1,(howMany + 1))
    del eachTS["FOOTTRAFFIC"]
    dataframe = pd.merge(dataframe, eachTS,  how='left',
                         left_on=['C/A','UNIT','SCP', 'STATION'],
                         right_on = ['C/A','UNIT','SCP', 'STATION'])    
    return dataframe

def trafficFix(dataframe):
    dataframe['FOOTTRAFFIC'] = dataframe.groupby('TURNSTILE')['FOOTTRAFFIC'].diff().fillna(method='backfill')
    # dataframe.groupby('TURNSTILE')['FOOTTRAFFIC'].transform('mean')
    dataframe['FOOTTRAFFIC'] = dataframe['FOOTTRAFFIC'].astype(int)
    return dataframe
    
"""

def betterColumns(dataframe):
    dataframe['TIMESTAMP'] = pd.to_datetime(dataframe['DATE'] + ' ' + dataframe['TIME'])
    dataframe.columns = dataframe.columns.str.rstrip()
    dataframe['FOOTTRAFFIC'] = dataframe['ENTRIES'] + dataframe['EXITS']
    return dataframe

def turnstileColumn(dataframe):
    '''
    Takes an MTA dataframe & creates a new column
    Where there's an index number for each Turn Stile in frame.
    '''
    eachTS = dataframe.groupby(["C/A", "UNIT", "SCP", "STATION"])[['ENTRIES']].sum()
    howMany = eachTS.shape[0]
    eachTS['TURNSTILE'] = range(1,(howMany + 1))
    del eachTS['ENTRIES']
    dataframe = pd.merge(dataframe, eachTS,  how='left',
                         left_on=['C/A','UNIT','SCP', 'STATION'],
                         right_on = ['C/A','UNIT','SCP', 'STATION'])    
    return dataframe

def trafficFix(dataframe):
    dataframe['FOOTTRAFFIC'] = dataframe.groupby('TURNSTILE')['FOOTTRAFFIC'].diff().fillna(method='backfill')
    dataframe['FOOTTRAFFIC'] = dataframe['FOOTTRAFFIC'].astype(int)
    return dataframe

In [8]:
# Create a new FOOTTRAFFIC column for each data set

betterColumns(df_dec19)
betterColumns(df_mar20)
betterColumns(df_june20)

df_dec19

,Unnamed: 0,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TIMESTAMP,FOOTTRAFFIC
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,03:00:00,REGULAR,7290785,2470635,2019-11-30 03:00:00,9761420
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,07:00:00,REGULAR,7290795,2470652,2019-11-30 07:00:00,9761447
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,11:00:00,REGULAR,7290860,2470733,2019-11-30 11:00:00,9761593
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,15:00:00,REGULAR,7291051,2470808,2019-11-30 15:00:00,9761859
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,19:00:00,REGULAR,7291396,2470862,2019-11-30 19:00:00,9762258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618711,207600,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,04:00:00,REGULAR,5554,420,2019-12-20 04:00:00,5974
618712,207601,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,08:00:00,REGULAR,5554,420,2019-12-20 08:00:00,5974
618713,207602,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,12:00:00,REGULAR,5554,420,2019-12-20 12:00:00,5974
618714,207603,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,16:00:00,REGULAR,5554,420,2019-12-20 16:00:00,5974
618715,207604,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,20:00:00,REGULAR,5554,420,2019-12-20 20:00:00,5974

In [9]:
turnstileColumn(df_dec19)
df_dec19

,Unnamed: 0,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TIMESTAMP,FOOTTRAFFIC
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,03:00:00,REGULAR,7290785,2470635,2019-11-30 03:00:00,9761420
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,07:00:00,REGULAR,7290795,2470652,2019-11-30 07:00:00,9761447
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,11:00:00,REGULAR,7290860,2470733,2019-11-30 11:00:00,9761593
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,15:00:00,REGULAR,7291051,2470808,2019-11-30 15:00:00,9761859
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,11/30/2019,19:00:00,REGULAR,7291396,2470862,2019-11-30 19:00:00,9762258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618711,207600,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,04:00:00,REGULAR,5554,420,2019-12-20 04:00:00,5974
618712,207601,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,08:00:00,REGULAR,5554,420,2019-12-20 08:00:00,5974
618713,207602,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,12:00:00,REGULAR,5554,420,2019-12-20 12:00:00,5974
618714,207603,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,16:00:00,REGULAR,5554,420,2019-12-20 16:00:00,5974
618715,207604,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2019,20:00:00,REGULAR,5554,420,2019-12-20 20:00:00,5974

In [11]:
trafficFix(df_dec19)
df_dec19

KeyError: 'TURNSTILE'

In [7]:
def get_daily_counts(row, max_counter):
    """
    This function is used for maxFoottraffic.
    """
    counter = row["FOOTTRAFFIC"] - row["PREV_FOOTTRAFFIC"]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        counter = min(row["FOOTTRAFFIC"], row["PREV_FOOTTRAFFIC"])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

def maxFoottraffic(dataframe):
    """
    This function calls get_daily_counts so that function must be entered prior.
    The purpose of this function is check the top 10 highly trafficked stations,
    depending on what dataframe is entered (June, July, December, etc.)
    """
    daily_counts_df = dataframe.groupby(["C/A","UNIT","SCP","STATION","DATE"], as_index=False)["FOOTTRAFFIC"].first()

    daily_counts_df[["PREV_DATE", "PREV_FOOTTRAFFIC"]] = (daily_counts_df
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "FOOTTRAFFIC"]
                                                       .apply(lambda grp: grp.shift(1)))

    daily_counts_df.dropna(subset=["PREV_DATE"], inplace=True)
    
    daily_counts_df["DAILY_FOOTTRAFFIC"] = daily_counts_df.apply(get_daily_counts, axis=1, max_counter=100000)
  
    station_counts_df = daily_counts_df.groupby(["STATION"], as_index=False)["DAILY_FOOTTRAFFIC"].sum()
    
    return station_counts_df.sort_values('DAILY_FOOTTRAFFIC', ascending=False).head(10)
    

maxFoottraffic(df_dec19)

/Users/brian/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

             STATION  DAILY_FOOTTRAFFIC
61    34 ST-PENN STA          5974839.0
233  GRD CNTRL-42 ST          5069801.0
59   34 ST-HERALD SQ          4431511.0
46             23 ST          3821356.0
14    14 ST-UNION SQ          3636247.0
352   TIMES SQ-42 ST          3460186.0
68   42 ST-PORT AUTH          3314623.0
226        FULTON ST          3244544.0
110            86 ST          3041787.0
72    47-50 STS ROCK          2636733.0

In [13]:
maxFoottraffic(df_mar20)

/Users/brian/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

             STATION  DAILY_FOOTTRAFFIC
61    34 ST-PENN STA          1993386.0
233  GRD CNTRL-42 ST          1635237.0
59   34 ST-HERALD SQ          1509835.0
9             125 ST          1384089.0
14    14 ST-UNION SQ          1360009.0
46             23 ST          1318951.0
68   42 ST-PORT AUTH          1257710.0
110            86 ST          1232643.0
352   TIMES SQ-42 ST          1218547.0
226        FULTON ST          1183924.0

In [14]:
maxFoottraffic(df_june20)

/Users/brian/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

             STATION  DAILY_FOOTTRAFFIC
61    34 ST-PENN STA           679963.0
9             125 ST           657048.0
110            86 ST           517185.0
68   42 ST-PORT AUTH           489845.0
59   34 ST-HERALD SQ           487667.0
14    14 ST-UNION SQ           475299.0
233  GRD CNTRL-42 ST           468176.0
46             23 ST           416987.0
217    FLUSHING-MAIN           413508.0
226        FULTON ST           400904.0

In [15]:
# Next step is to take sum of three data sets and take top 10 as a figure.